<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>FundsSuperDemo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.lifestyle</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>i.annihil.us</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    	<key>UIAppFonts</key>
	<array>
		<string>NotoSansThaiUI-ExtraBold.ttf</string>
		<string>NotoSansThai-SemiBold.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedBold.ttf</string>
		<string>NotoSansThaiUI-CondensedBlack.ttf</string>
		<string>NotoSansThai-ExtraCondensed.ttf</string>
		<string>NotoSansThai-ExtraCondensedExtraLight.ttf</string>
		<string>NotoSansThaiUI-CondensedBold.ttf</string>
		<string>NotoSansThai-Regular.ttf</string>
		<string>NotoSansThaiUI-SemiBold.ttf</string>
		<string>NotoSansThaiUI-CondensedExtraBold.ttf</string>
		<string>NotoSansThaiUI-CondensedThin.ttf</string>
		<string>NotoSansThai-CondensedBlack.ttf</string>
		<string>NotoSansThaiUI-SemiCondensedThin.ttf</string>
		<string>NotoSansThai-CondensedSemiBold.ttf</string>
		<string>NotoSansThaiUI-SemiCondensed.ttf</string>
		<string>NotoSansThaiUI-ExtraCondensed.ttf</string>
		<string>NotoSansThai-ExtraLight.ttf</string>
		<string>NotoSansThai-SemiCondensedBlack.ttf</string>
		<string>NotoSansThaiUI-Bold.ttf</string>
		<string>NotoSansThai-ExtraBold.ttf</string>
		<string>NotoSansThai-Medium.ttf</string>
		<string>NotoSansThaiUI-Black.ttf</string>
		<string>NotoSansThai-CondensedMedium.ttf</string>
		<string>NotoSansThai-Bold.ttf</string>
		<string>NotoSansThai-Light.ttf</string>
		<string>NotoSansThai-SemiCondensedThin.ttf</string>
		<string>NotoSansThaiUI-CondensedSemiBold.ttf</string>
		<string>NotoSansThai-ExtraCondensedBold.ttf</string>
		<string>NotoSansThaiUI-CondensedThin.ttf</string>	
	</array>
</dict>
</plist>